<% provide(:title, "Events") %>
<div class="row">
  <div class="col-md-8 mx-auto">
  <section>
    <% if @upcoming.any? %>
      <h3>Upcomping events (<%= @upcoming.count %>)</h3>
      <ol class="events">
        <%= render @upcoming %>
      </ol>
      <%#= will_paginate @upcoming %>
    <% end %>
  </section>

  <section>
    <% if @past.any? %>
      <h3>Past events (<%= @past.count %>)</h3>
      <ol class="events">
        <%= render @past %>
      </ol>
      <%#= will_paginate @past %>
    <% end %>
  </section>
  </div>
</div>
